pkgbase = librewolf-extension-clearurls
	pkgdesc = Removes tracking elements from URLs
	pkgver = 1.26.1
	pkgrel = 1
	url = https://clearurls.xyz
	arch = any
	groups = librewolf-addons
	license = LGPL3
	source = https://github.com/ClearURLs/Addon/releases/download/1.26.1/clearurls-1.26.1.xpi
	sha256sums = e20168d63cb1b8ba3ad0de4cdb42c540d99fe00aa9679b59f49bccc36f106291

pkgname = librewolf-extension-clearurls
