configuration {
    display-combi:  "";
    display-drun:   "";
    display-run:    "";
    display-ssh:    "";
    display-window: "";
    font: "JetBrainsMono NFM Medium 11";
    show-icons:     true;
}

@theme "~/.config/rofi/gruvbox-material.rasi"
